@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0; box-sizing: border-box;} 
.container-fluid {
	padding: 0;
	margin:0;
}
/*[class|="col-"] {
	padding: 0;
	margin:0;
}*/

/*[class|="row"]{
	padding: 0;
	margin:0;
}*/

img{max-width: 100%}
.carousel-inner img{
	  width: 100%;
	  height: 100%;
	  }

body{background: #FFFFFF;}
header{
	background: #244E7D;

}
header span:not(:last-child)::after
{
	content: '|';
	margin-left: 12px;
	margin-right: 12px;
}

nav{background: #FFFFFF;}

.carousel-caption{
	position: absolute;
	top:10%;
    left:70%;
    right: 10%;
/*    z-index:2;
    margin-bottom: 2em;
    margin-top: 2em;*/
}

.carousel-caption  h3{
	color:#244E7D;
	text-align: left;
}
.carousel-caption h3 span{
	color:#F06586;
}
.carousel-caption ul li{
	list-style-type: none;
	text-align: left;
	margin-bottom: 1em;
}
nav a{
	color:#505456;
	
}
nav a:hover{
	color:#505456;
}

.btn-primary{
	background: none;
    border-color: #F06586;
    color: #F06586;
}
.btn-primary:hover{
	background: #F06586;
	border-color: #F06586;
}

.mono1 {
	border-top: solid #47ABEA 6px;
    background: #FCFCFC;
    background-image: url(imagenes/mono.png);
    background-position: right; 
    background-repeat: no-repeat; 

}

.mono {
    border-top: solid #89BE16 6px;
	background: #F8F8F8;
    background-image: url(imagenes/mono.png);
    background-position: right;
    background-repeat: no-repeat; 
}
.mono:last-child{
	 border-top: solid #F06586 6px;

}

.texto {
	position:relative;
    top:1em;
    left:2em;
    z-index:2;
    margin-bottom: 2em;
    margin-top: 2em;
}
.texto span{
	margin-bottom: 1em;
}

.btn-info{
	background:#A6CD51;
	border-color:#A6CD51;
	opacity: 0.7;
}
.btn-info:hover{
	background: #F06586;
	border-color: #F06586;
}

.section3{
	background: #254F7F;
	text-align: center;
	padding-bottom: 5em;
	overflow: hidden;
}

.section3 img{
	display: block;
}

.texto-imagen{
	background:rgb(66,148,186, 0.7);
	transition: opacity 0.3s;
	opacity: 0;
	position: absolute;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	padding:1.5em; 
}

.texto-imagen a{
   color:rgb(255,255,255, 1);
   opacity: 0;
   text-decoration: none;
   vertical-align: center;
   display:inline-block;
}

@keyframes letras-animacion {
  	0% { opacity: 0; transform: scale(0.90); }
  	100% { opacity: 1; transform: scale(1); }
}

.row.no-gutters {
   margin-right: 0;
   margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
   padding-right: 0;
   padding-left: 0;
}


.section3 > div:nth-child(2) > div:nth-child(1):hover .texto-imagen,
.section3 > div:nth-child(2) > div:nth-child(2):hover .texto-imagen,
.section3 > div:nth-child(2) > div:nth-child(3):hover .texto-imagen,
.section3 > div:nth-child(2) > div:nth-child(4):hover .texto-imagen
{
	opacity: 1;
}
.section3 > div:nth-child(2) > div:nth-child(1):hover .texto-imagen a,
.section3 > div:nth-child(2) > div:nth-child(2):hover .texto-imagen a,
.section3 > div:nth-child(2) > div:nth-child(3):hover .texto-imagen a,
.section3 > div:nth-child(2) > div:nth-child(4):hover .texto-imagen a
{
	animation-name: letras-animacion;
    animation-duration: 0.5s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
}
.services{
	padding-top: 2em;
	padding-bottom: 2em;
}
.services > div{
	padding-top: 2em;
	
}
