@charset "utf-8";
/* CSS Document */
*{ margin:0; padding:0; box-sizing: border-box;} 
img{max-width: 100%}
.carousel-inner img{
	  width: 100%;
	  height: 100%;
	  }

body{background: blue;}
header{
	background: #244E7D;

}
header span:not(:last-child)::after
{
	content: '|';
	margin-left: 12px;
	margin-right: 12px;
}

nav{background: #FFFFFF;}

.carousel-caption{
	position: absolute;
	top:10%;
    left:70%;
    right: 10%;
/*    z-index:2;
    margin-bottom: 2em;
    margin-top: 2em;*/
}

.carousel-caption  h3{
	color:#244E7D;
	text-align: left;
}
.carousel-caption h3 span{
	color:#F06586;
}
.carousel-caption ul li{
	list-style-type: none;
	text-align: left;
	margin-bottom: 1em;505456
}
nav a{
	color:#505456;
	
}
nav a:hover{
	color:#505456;
}

.btn-primary{
	background: none;
    border-color: #F06586;
    color: #F06586;
}
.btn-primary:hover{
	background: #F06586;
	border-color: #F06586;
}

.mono1 {
	border-top: solid #47ABEA 6px;
    background: #FCFCFC;
    background-image: url(imagenes/mono.png);
    background-position: right; 
    background-repeat: no-repeat; 

}

.mono {
    border-top: solid #89BE16 6px;
	background: #F8F8F8;
    background-image: url(imagenes/mono.png);
    background-position: right;
    background-repeat: no-repeat; 
}
.mono:last-child{
	 border-top: solid #F06586 6px;

}

.texto {
	position:relative;
    top:1em;
    left:2em;
    z-index:2;
    margin-bottom: 2em;
    margin-top: 2em;
}
.texto span{
	margin-bottom: 1em;
}

.btn-info{
	background:#A6CD51;
	border-color:#A6CD51;
	opacity: 0.7;
}
.btn-info:hover{
	background: #F06586;
	border-color: #F06586;
}

.section3{
	background: #254F7F;
	text-align: center;
	padding-bottom: 5em;
}

.section3 img{
	display: block;
}

.row.no-gutters {
   margin-right: 0;
   margin-left: 0;
}
.row.no-gutters > [class^="col-"],
.row.no-gutters > [class*=" col-"] {
   padding-right: 0;
   padding-left: 0;
}

